<div class="form-field grid user-details">
    <div class="form-label block size-1-3">
		{% if identicon %}
			<label>
				<img width="128" height="128" src="{{ identicon }}" alt="identicon" />
			</label>
		{% else %}
			<label><img src="https://www.gravatar.com/avatar/{{ data.email|md5 }}?s=128" /></label>
		{% endif %}
    </div>
    <div class="form-data block size-2-3">
        <h2>{{ data.fullname }}</h2>
        <h5>
        <a href="mailto:{{ data.email }}">{{ data.email }}</a>
        {% if data.title %}
        - {{ data.title }}
        {% endif %}
        </h5>
		{% if not identicon %}
			<p class="gravatar">{{ "PLUGIN_ADMIN.AVATAR_BY"|tu }} <a href="https://gravatar.com" target="_blank">gravatar.com</a></p>
		{% endif %}
    </div>
</div>

